<tr class="line-item{{#isUnknown}} is-unknown{{/isUnknown}}" data-scan="{{scan}}" data-sku="{{sku}}" data-barcode="{{barcode}}" data-name="{{name}}" id="scan-{{barcode}}">
    <td><div>
        <button class="add-item btn btn-mini btn-info"><i class="icon-plus-sign icon-white"></i></button>
        <button class="remove-item btn btn-mini btn-info"><i class="icon-minus-sign icon-white"></i></button>
        {{#allowDelete}}
            <button class="delete-item btn btn-mini btn-danger"><i class="icon-trash icon-white"></i></button>
        {{/allowDelete}}
        </div>
    </td>
    <td>
        <div class="control-group">
            <div class="input-prepend controls">
                <span class="add-on">$</span><input class="unit-cost input-mini" type="text" value="{{cost}}">
            </div>
        </div>
    </td>
    <td class="item-count">{{quantity}}</td>
    <td class="item-name control-group">
        <div class="controls">
            {{#isUnknown}}
                <button class="btn btn-warning is-unknown" type="button"><i class="icon-question-sign icon-white"></i> Unknown</button>
            {{/isUnknown}}
            {{name}}
        </div>
    </td>
    <td>{{sku}}</td>
    <td class="item-barcode">{{barcode}}</td>
</tr>
