<tr class="line-item" id="scan-{{barcode}}" data-barcode="{{barcode}}">
    <td><div>
            <button class="add-item btn btn-mini btn-info" data-barcode="{{barcode}}"><i class="icon-ok-sign icon-white"></i></button>
        </div>
    </td>
    <td class="item-count">{{quantity}}</td>
    {{#show-available}}
        <td class="available-count">{{available}}</td>
    {{/show-available}}
    <td class="item-name control-group">
        <div class="controls">
            {{name}}
        </div>
    </td>
    <td class="item-scan">{{barcode}}</td>
</tr>
