<hr></hr>

<div class="keep-together">
    <div class="row">
        <div class="span4">
            <div>
                <span><strong>Order number:</strong> {{order-number}}</span>
            </div>
            <div>
                <span><strong>Ship Date:</strong> {{shipping-date}}</span>
                <span><strong>Source:</strong> {{order-source}}</span>
                <span><strong>Warehouse:</strong> {{warehouse}}</span>
            </div>
            <div>
                <span><strong>Shipped via</strong> {{carrier}} <strong>Tracking #:</strong> {{tracking-number}}</span>
            </div>
            <div>
                <span><strong>Shipping Cost:</strong> ${{shipping-cost}}</span>
            </div>
        </div>
        <div class="span4">
            <div>
                <span>{{customer-name}}</span>
            </div>
            <div>
                <pre>{{customer-address}}</pre>
            </div>
        </div>
        <div class="span4"></div>
    </div>

    <div><table class="table table-condensed"</table>
    <thead>
        <tr>
            <th>SKU</th>
            <th>Quantity</th>
            <th>Price Ea</th>
            <th>Price</th>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
        {{#items}}
            <tr>
                <td>{{sku}}</td>
                <td>{{quantity}}</td>
                <td>${{price-each}}</td>
                <td>${{quantity-price}}</td>
                <td>{{name}}</td>
            </tr>
        {{/items}}

        {{#is-first}}
            <tr>
                <td></td>
                <td></td>
                <td>Shipping charge</td>
                <td>${{shipping-charge}}</td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td>Tax</td>
                <td>${{total-taxes}}</td>
                <td></td>
            </tr>

            <tr>
                <td></td>
                <td></td>
                <td>Order Total</td>
                <td>${{total-charge}}</td>
                <td></td>
            </tr>
        {{/is-first}}
    </tbody>
    </table></div>
</div>
