<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
    <i class="icon-user"></i> Not logged in
    <span class="caret"></span>
</a>
<ul class="dropdown-menu">
    <li><a href="#login">Log in</a></li>
    <li class="divider"></li>
    <li><a href="#signup">Create account</a></li>
</ul>
