<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
    <i class="icon-user"></i> <span class="label label-important">Admin Party!</span>
    <span class="caret"></span>
</a>
<ul class="dropdown-menu">
    <li>Everyone is admin!</li>
    <li> Fix this in <a href="/_utils/index.html">Futon</a></li>
</ul> 
