/* add styles here */

body {
  font:1em Helvetica, sans-serif;
  padding:4px;
}

#account {
  float:right;
}

form {
  padding:4px;
  margin:6px;
  background-color:#ddd;  
}

/* unknown items in the receive/sale order table */
table.table-striped.item-table tr.is-unknown td {
    background-color:#DA4F49;    /* Same color as the Bootstrap 'Danger' button  */
}

/* Items in the make a shipment page table with quantity 0 */
table.table-striped.item-table tr.is-satisfied td {
    opacity:0.4;
}

/* obsolete items in the item lister are slightly transparent */
tr.obsolete {
    opacity:0.7;
}
