/* add styles here */

body {
  font:1em Helvetica, sans-serif;
  padding:4px;
}

#account {
  float:right;
}

form {
  padding:4px;
  margin:6px;
  background-color:#ddd;  
}

table.table-striped.item-table tr.is-unknown td {
    background-color:#DA4F49;
}
