<h1>{{title}}</h1>
<div class="span6">
<form action="{{action}}" method="post" class="form-horizontal">
    <h3>Box {{box}} for order {{order-number}}</h3>
    <p>{{shipping-service-level}} shipping from {{warehouse-name}}</p>
    <p>{{customer-name}}</p>
    <pre>{{address}}</pre>

    <div class="control-group">
        <label class="control-label" for="weight">Weight</label>
        <div class="controls">
            <input type="text" name="weight" readonly="true" disabled id="weight" value="{{weight}}">
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="size">Size</label>
        <div class="controls">
            <input type="text" name="size" readonly="true" disabled id="size" value="{{size}}">
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="tracking-number">Tracking number</label>
        <div class="controls">
            <input type="text" name="tracking-number" id="tracking-number" value="{{tracking-number}}" autofocus="autofocus">
        </div>
    </div>


    <div class="control-group">
        <label class="control-label" for="carrier">Carrier</label>
        <div class="controls">
            <select name="carrier">
                {{#carriers}}
                    <option value="{{name}}"{{#selected}} selected="selected"{{/selected}}>{{name}}</option>
                {{/carriers}}
            </select>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="carrier-method">Carrier method</label>
        <div class="controls">
            <input type="text" name="carrier-method" id="carrier-method" value="{{carrier-method}}">
        </div>
    </div>

    <div class="control-group">
        <p>Shipping charge was ${{shipping-charge}}</p>
        <label class="control-label" for="shipping-cost">Actual shipping cost</label>
        <div class="controls">
            <div class="input-prepend">
                <span class="add-on">$</span><input type="text" value="{{shipping-cost}}" name="shipping-cost">
            </div>
        </div>
    </div>

    <button class="btn btn-primary" type="submit" id="all-done"><i class="icon-ok"></i> Confirm</button>
</form>
</div>
