<h2>Inventory Report</h2>
{{> search-form}}

<span>Show obsolete items <input type="checkbox" id="show-obsolete"></span>

<form class="form-inline">
    <label class="control-label" for="warehouse-chooser">Warehouses</label>
    <select id="warehouse-chooser" name="warehouse-chooser" multiple="multiple">
        {{#warehouses}}
            <option selected="selected" value={{.}}>{{.}}</option>
        {{/warehouses}}
    </select>
    <label class="checkbox">
        <input type="checkbox" id="all" name="all"> All
    </label>
</form>

<table id="item-list" class="table table-condensed">
    <thead>
    <tr>
        <th>Name</th>
        <th>SKU</th>
        <th>Barcode</th>
        <th>Warehouse</th>
        <th>Count</th>
        <th></th>
    </tr>
    </thead>

    <tbody id="search-results">
        {{^items}}
            <tr><td><i>No results</i></td></tr>
        {{/items}}
        {{#items}}
            <tr class="inventory-row" data-warehouse="{{warehouse}}" data-barcode="{{barcode}}"
                {{#hidden}}style="display:none;"{{/hidden}}>

                <td><a href="#/report/item-history/{{barcode}}">{{name}}</a></td>
                <td>{{sku}}</td>
                <td>{{barcode}}</td>
                <td>{{warehouse}}</td>
                <td>{{count}}</td>
                <td>
                    <a href="#/edit/item/{{_id}}" class="edit-item btn"><i class="icon-edit"></i> Edit</a>
                </td>
            </tr>
        {{/items}}
    </tbody>
</table>

