<h2>{{itemType}}</h2>
{{#showAddButton}}
    <a href="{{edit}}" id="addItem" class="btn"><i class="icon-plus"></i> Add {{itemType}}</a>
{{/showAddButton}}
{{#showObsoleteButton}}
    <span>Show obsolete items <input type="checkbox" id="show-obsolete"></span>
{{/showObsoleteButton}}
{{> search-form}}

<table id="item-list" class="table table-condensed">
    <thead>
    <tr>
        {{> headers}}
    </tr>
    </thead>

    <tbody id="search-results">
        {{^items}}
            <tr><td><i>No results</i></td></tr>
        {{/items}}
        {{#items}}
            <tr {{#is-obsolete}} class="obsolete" style="display: none;"{{/is-obsolete}}>
                {{> row}}
                <td>
                    <a href="{{edit}}{{_id}}" class="edit-item btn" {{^editable}}disabled{{/editable}}><i class="icon-edit"></i> Edit</a>
                    <a href="{{delete}}{{_id}}" class="delete-item btn btn-danger"><i class="icon-trash icon-white"></i> Remove</a>
                </td>
            </tr>
        {{/items}}
    </tbody>
</table>

