<div id="dialog-modal" class="modal hide fade" tabindex="-1">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h3>{{title}}</h3>
        </div>
        <div class="modal-body">
                {{message}}
        </div>

        <div class="modal-footer">
            <button type="submit"
                    data-dismiss="modal"
                    name="{{firstButton}}"
                    value="{{firstButton}}"
                    id="{{firstButton}}"
                    class="btn btn-primary">{{firstButton}}</button>
            {{#buttons}}
                <button value="{{.}}"
                        id="{{.}}"
                        data-dismiss="modal"
                        class="btn">{{.}}</button>
            {{/buttons}}
        </div>
    </form>
</div>
