<div id="add-edit-item" class="modal hide fade">
        <div class="modal-header">
            <button class="close" data-dismiss="modal">&times;</button>
            <h3>{{add-edit-title}} Item</h3>
        </div>
    <form action="#/edit/item/{{_id}}" method="post" class="form-horizontal">
        <div class="modal-body">
                <input type="hidden" id="_id" name="_id" value="{{_id}}">
                <input type="hidden" id="_rev" name="_rev" value="{{_rev}}">
                {{#scanned}}
                    <input type="hidden" id="scanned" name="scanned" value="{{scanned}}">
                {{/scanned}}

                <fieldset id="name-field">
                    <div class="control-group">
                        <label class="control-label" for="name">Name</label>
                        <div class="controls">
                            <input type="text" id="name" name="name" value="{{name}}" autofocus>
                        </div>
                    </div>
                </fieldset>

                <fieldset id="sku-field">
                    <div class="control-group">
                        <label class="control-label" for="sku">SKU</label>
                        <div class="controls">
                            <input type="text" id="sku" name="sku" value="{{sku}}">
                        </div>
                    </div>
                </fieldset>

                <fieldset id="barcode-field">
                    <div class="control-group">
                        <label class="control-label" for="barcode">Barcode</label>
                        <div class="controls">
                            <div class="input-prepend">
                                <span class="add-on"><i class="icon-barcode"></i></span><input type="text" id="barcode" name="barcode" value="{{barcode}}">
                            </div>
                        </div>
                    </div>
                </fieldset>

                <fieldset id="cost-field">
                    <div class="control-group">
                        <label class="control-label" for="cost">Cost </label>
                        <div class="controls">
                            <div class="input-prepend">
                                <span class="add-on">$</span><input type="text" id="cost" name="cost" value="{{cost}}">
                            </div>
                        </div>
                    </div>
                </fieldset>

                <fieldset id="price-field">
                    <div class="control-group">
                        <label class="control-label" for="price">Price </label>
                        <div class="controls">
                            <div class="input-prepend">
                                <span class="add-on">$</span><input type="text" id="price" name="price" value="{{price}}">
                            </div>
                        </div>
                    </div>
                </fieldset>

                <fieldset>
                    <div class="control-group">
                        <label class="control-label" for="is-obsolete">Obsolete </label>
                        <div class="controls">
                            <input type="checkbox" id="is-obsolete" name="is-obsolete" {{is-obsolete}}>
                        </div>
                    </div>
                </fieldset>

                <fieldset id="description-field">
                    <div class="control-group">
                        <label class="control-label" for="description">Description</label>
                        <div class="controls">
                            <textarea name="description" rows="4" cols="40">{{description}}</textarea>
                        </div>
                    </div>
                </fieldset>
        </div>

        <div class="modal-footer">
            <button type="submit" id="submit" class="btn btn-primary">Save</button>
            <button type="button" id="cancel" class="btn" data-dismiss="modal">Cancel</button>
        </div>
    </form>
</div>
